{% extends 'base.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}
{% block main-content %}

<div class="container" >
 <div class="row my-3">
  <div class="col-md-6 offset-md-3">
   <h3>About Us</h3>
   <hr>
   <p class="">Started in 2023, ApnaMarket has enabled millions of sellers, merchants, and small businesses to participate in India's digital commerce revolution. With a registered customer base of more than 450 million, ApnaMarket's marketplace offers over 150 million products across 80+ categories. Today, there are over 11 lakh sellers on the platform, including Shopsy sellers. With a focus on empowering and delighting every Indian by delivering value through technology and innovation, ApnaMarket has created lakhs of jobs in the ecosystem while empowering generations of entrepreneurs and MSMEs. ApnaMarket is known for pioneering services such as Cash on Delivery, No Cost EMI and easy returns, which are customer-centric innovations that have made online shopping more accessible and affordable for millions of Indians.</p>
  </div>
 </div>
</div>
{% endblock main-content %}