{% extends 'base.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}
{% block main-content %}

<div class="container" >
 <div class="row my-3">
  <div class="col-md-6 offset-md-3">
   <h3>About Us</h3>
   <hr>
   <div class="about__container container grid">
    <div class="about__data row" data-sr-id="29" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0s;">
      <div class="about__img col-md-4 d-flex">
        <div class="about__img-overlay" data-sr-id="33" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0s; 
    justify-items: center;
    align-items: center;">
            <img src="/static/images/ba.jpg" height="150px" alt="" class="about__img-one">
        </div>
        
      </div>
      <div class="col-md-8">
        <p class="section__title about__title" data-sr-id="3" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0s;">Naveen Chaudhary
        </p>
        <p class="about__description">Founder &amp; Designer of ApnaMarket.com
        </p>
      
        <div class="c__social ">
              <a href="https://www.facebook.com/King143nd" target="_blank" class="al-fb" data-sr-id="40" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0s;">
                  <i class="ri-facebook-box-fill"></i>
              </a>
              <a href="https://instagram.com/naveen.chaudhary13" target="_blank" class="al-ig" data-sr-id="41" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0s;">
                  <i class="ri-instagram-fill"></i>
              </a>
              <a href="https://twitter.com/kingndnaveen" target="_blank" class="al-tw" data-sr-id="42" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0s;">
                  <i class="ri-twitter-fill"></i>
              </a>
              <a href="https://wa.me/+917999898702" target="_blank" class="al-wp" data-sr-id="43" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0s;">
                  <i class="ri-whatsapp-fill"></i>
              </a>
              <a href="tel:+917999898702" target="_blank" class="al-pn" data-sr-id="44" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0s;">
                  <i class="ri-phone-fill"></i>
              </a>
              <a href="mailto:nvnaveenchaudhary@gmail.com" target="_blank" class="al-em" data-sr-id="45" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0s;">
                  <i class="ri-mail-line"></i>
              </a>
        </div>
      </div>
  </div>
</div>
   <p class="mt-3">Started in 2023, ApnaMarket has enabled millions of sellers, merchants, and small businesses to participate in India's digital commerce revolution. With a registered customer base of more than 450 million, ApnaMarket's marketplace offers over 150 million products across 80+ categories. Today, there are over 11 lakh sellers on the platform, including Shopsy sellers. With a focus on empowering and delighting every Indian by delivering value through technology and innovation, ApnaMarket has created lakhs of jobs in the ecosystem while empowering generations of entrepreneurs and MSMEs. ApnaMarket is known for pioneering services such as Cash on Delivery, No Cost EMI and easy returns, which are customer-centric innovations that have made online shopping more accessible and affordable for millions of Indians.</p>
  </div>
 </div>
</div>
{% endblock main-content %}