{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome {{request.user}}</h3>
  <div class="col-lg-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="/profile" class="btn btn-primary">Change Password</a></li>
   </ul>
  </div>
  <div class="col-lg-6 offset-lg-1">
   <form class='my_form shadow py-4 px-5' method="post">
    {% csrf_token %}
    {% load widget_tweaks %}
    {% for field in form.visible_fields %}
      <div class="form-group mb-3">
        <label class="form-label">{{ field.label_tag }}</label>
          {% render_field field class="form-control" id="form-control" type="text"%}
      </div>
    {% endfor %}
    <small><a class="text-center text-danger" href="/forgotpassword">Forgot Password ?</a></small> <br><br>
    <button class="btn btn-danger" type="submit">Save changes</button>
  </form>
  </div>
 </div>
</div>
{% endblock main-content %}