{% extends 'base.html' %}
{% load static %}
{% block title %}Edit Address{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
     <h3>Welcome {{request.user}}</h3>
     <div class="col-md-2 border-end">
      <ul class="list-unstyled">
        <li class="d-grid"><a href="/address/edit/{{customer.id}}" class="btn btn-primary">Edit Address</a></li>
        <li class="d-grid"><a href="/address" class="btn">My Address</a></li>
      </ul>
     </div>
     <div class="col-md-8 offset-md-1">
      <form action="" method="post" class="row my_form2 shadow py-4 px-4 m-2" >
       {% csrf_token %}
       <input type="hidden" name="address_id" value="{{ customer.id }}">
       <div class="col-md-6">
         <label for="inputName" class="form-label mt-2">Name</label>
         <input type="text" class="form-control" id="inputName" value='{{customer.name}}' name='inputName' placeholder="Full Name">
       </div>
       <div class="col-md-6">
         <label for="inputEmail" class="form-label mt-2">Email</label>
         <input type="email" class="form-control" id="inputEmail" value='{{customer.email}}' name='inputEmail' placeholder="name@example.com">
       </div>
       <div class="col-12">
         <label for="inputAddress" class="form-label mt-2">Address</label>
         <input type="text" class="form-control" id="inputAddress" value='{{customer.locality}}' name="inputAddress"  placeholder="Address (Area & Street)">
       </div>
       <div class="col-12">
         <label for="inputAddress2" class="form-label mt-2">Landmark (Optional)</label>
         <input type="text" class="form-control" id="inputAddress2" value='{{customer.landmark}}' name="inputAddress2" placeholder="Eg. Near Green Park">
       </div>
       <div class="col-md-4">
         <label for="inputCity" class="form-label mt-2">City</label>
         <input type="text" class="form-control" id="inputCity" value='{{customer.city}}' name="inputCity" placeholder="City/District/Town">
       </div>
       <div class="col-md-5">
         <label for="inputState" class="form-label mt-2">State</label>
         <select id="inputState" class="form-select" name="inputState">
           <option selected disabled>Choose...</option>
           {% for state_option in states %}
               <option value="{{ state_option }}" {% if state_option == customer.state %} selected {% endif %}>{{ state_option }}</option>
           {% endfor %}
         </select>
       </div>
       <div class="col-md-3">
         <label for="inputZip" class="form-label mt-2">Pincode</label>
         <input type="number" class="form-control" id="inputZip" value='{{customer.zipcode}}' name="inputZip" placeholder="6 Digits [0-9]">
       </div>
       <div class="col-md-3">
         <label for="inputGender" class="form-label mt-2">Gender</label>
         <select id="inputGender" class="form-select" name="inputGender" value='{{customer.gender}}'>
           <option selected disabled>Choose...</option>
           {% for gender_option in gender %}
               <option value="{{ gender_option }}" {% if gender_option == customer.gender %} selected {% endif %}>{{ gender_option }}</option>
           {% endfor %}
         </select>
       </div>
       <div class="col-md-4">
         <label for="inputPhone" class="form-label mt-2">Mobile Number</label>
         <input type="tel" class="form-control" id="inputPhone" value='{{customer.phone}}' name="inputPhone" placeholder="10-digit Mobile Number">
       </div>
       <div class="col-md-2">
         <label for="inputAge" class="form-label mt-2">Age (Optional)</label>
         <input type="number" class="form-control" id="inputAge" value='{{customer.age}}' name="inputAge" placeholder="Eg. 24" default=0>
       </div>
       <div class="col-md-3">
         <label for="inputType" class="form-label mt-2">Address Type</label>
         <select id="inputType" class="form-select" name="inputType">
           <option selected disabled>Choose...</option>
           {% for address_option in address %}
               <option value="{{ address_option }}" {% if address_option == customer.address %} selected {% endif %}>{{ address_option }}</option>
           {% endfor %}
         </select>
       </div>
       <div class="col-md-12 mt-3">
         <button type="submit" class="btn btn-danger">Update Address</button>
       </div>  
      </form>
     </div>
    </div>
   </div>
{% endblock main-content %}
