{% extends 'base.html' %}
{% load static %}
{% block title %}Mens Fashion{% endblock title %}
{% block main-content %}
<div class="container my-3">
 <div class="row">
  <div class="col-md-2 fixed">
    <div class="dropdown d-flex flex-column justify-content-center m-3">
        <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Top Wears
        </button>
        <ul class="dropdown-menu dropdown-menu-light">
            <a href="/fashion/mens/filter=T-Shirts" class="dropdown-item">T-Shirts</a>
            <a href="/fashion/mens/filter=Shirts" class="dropdown-item">Shirts</a>
            <a href="/fashion/mens/filter=Winter_Wears" class="dropdown-item">Winter_Wears</a>
            <a href="/fashion/mens/filter=Blazers" class="dropdown-item">Blazers</a>
            <a href="/fashion/mens/filter=Suits" class="dropdown-item">Suits</a>  
        </ul>
    </div>
    <div class="dropdown d-flex flex-column justify-content-center m-3">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Bottom Wears
        </button>
        <ul class="dropdown-menu dropdown-menu-light">
            <a href="/fashion/mens/filter=Jeans" class="dropdown-item">Jeans</a>
            <a href="/fashion/mens/filter=Trousers" class="dropdown-item">Trousers</a>
            <a href="/fashion/mens/filter=Trackpants" class="dropdown-item">Trackpants</a>
            <a href="/fashion/mens/filter=Shoes" class="dropdown-item">Shoes</a>
            <a href="/fashion/mens/filter=Slippers" class="dropdown-item">Slippers</a> 
        </ul>
    </div>
    <div class="dropdown d-flex flex-column justify-content-center m-3">
        <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Accessories
        </button>
        <ul class="dropdown-menu dropdown-menu-light">
            <a href="/fashion/mens/filter=Wallets" class="dropdown-item">Wallets</a>
            <a href="/fashion/mens/filter=Watches" class="dropdown-item">Watches</a>
            <a href="/fashion/mens/filter=Sunglasses" class="dropdown-item">Sunglasses</a>
            <a href="/fashion/mens/filter=Belts" class="dropdown-item">Belts</a>
            <a href="/fashion/mens/filter=Jewellery" class="dropdown-item">Jewellery</a> 
        </ul>
    </div>
      <div class="dropdown d-flex flex-column justify-content-center m-3">
        <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Price
        </button>
        <ul class="dropdown-menu dropdown-menu-light">
            <a href="/fashion/mens/filter=low_to_high" class="dropdown-item">Price:Low to High</a>
    <a href="/fashion/mens/filter=high_to_low" class="dropdown-item">Price:High to Low</a>
    <a href="/fashion/mens/filter=below_100" class="dropdown-item">Below 100</a>
    <a href="/fashion/mens/filter=below_200" class="dropdown-item">Below 200</a>
    <a href="/fashion/mens/filter=below_500" class="dropdown-item">Below 500</a>
    <a href="/fashion/mens/filter=below_1000" class="dropdown-item">Below 1000</a>
    <a href="/fashion/mens/filter=below_2000" class="dropdown-item">Below 2000</a>
    <a href="/fashion/mens/filter=above_2000" class="dropdown-item">Above 2000</a>
        </ul>
      </div>
      <div class="dropdown d-flex flex-column justify-content-center m-3">
          <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Feedback
          </button>
          <ul class="dropdown-menu dropdown-menu-center-light">
            <a href="/fashion/mens/filter=customer_rating" class="dropdown-item">Customer Rating</a>
    <a href="/fashion/mens/filter=customer_review" class="dropdown-item">Customer Reviews</a>
          </ul>
      </div>
   
  </div>
    <div class="col-md-10">
        <div class="row" >
        {% for m in mens %}
        <div class='col-md-4 text-center mb-4'>
            <a href="/product-detail/{{m.id}}" class='btn'>
                <div class="item">
                    <div style="height: 180px; width: 180px; position: relative;
                    margin: 0 auto;">
                        <img src="{{m.product_image.url}}" alt="" class="p-img">
                    </div>
                    <div class="product-desc">
                        <span class="product-title">{{m.title}}</span>
                        <span class="badge bg-success">{{m.rating}}<i class="ri-star-fill"></i></span>
                        <span class="product-review">{{m.review}}</span>
                    </div>
                    <div class="fw-bold">₹{{m.discounted_price}} <small class='fw-light text-decoration-line-through'>₹{{m.selling_price}}</small></div>
                </div>
            </a>
        </div>
            {% endfor %}
        </div>
    </div>
 </div>
</div>
{% endblock main-content %}