{% extends 'base.html' %}
{% load static %}
{% block title %}Mens Fashion{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-md-2 fixed">
   <div class="list-group">
    <a href="/fashion/mens" class="list-group-item list-group-item-action-active">All Mens Fashion</a>
    <a href="/fashion/mens/filter=T-Shirts" class="list-group-item list-group-item-action">T-Shirts</a>
    <a href="/fashion/mens/filter=Shirts" class="list-group-item list-group-item-action">Shirts</a>
    <a href="/fashion/mens/filter=Winter_Wears" class="list-group-item list-group-item-action">Winter_Wears</a>
    <a href="/fashion/mens/filter=Blazers" class="list-group-item list-group-item-action">Blazers</a>
    <a href="/fashion/mens/filter=Suits" class="list-group-item list-group-item-action">Suits</a>
    <a href="/fashion/mens/filter=Jeans" class="list-group-item list-group-item-action">Jeans</a>
    <a href="/fashion/mens/filter=Trousers" class="list-group-item list-group-item-action">Trousers</a>
    <a href="/fashion/mens/filter=Trackpants" class="list-group-item list-group-item-action">Trackpants</a>
    <a href="/fashion/mens/filter=Shoes" class="list-group-item list-group-item-action">Shoes</a>
    <a href="/fashion/mens/filter=Slippers" class="list-group-item list-group-item-action">Slippers</a>
    <a href="/fashion/mens/filter=Wallets" class="list-group-item list-group-item-action">Wallets</a>
    <a href="/fashion/mens/filter=Watches" class="list-group-item list-group-item-action">Watches</a>
    <a href="/fashion/mens/filter=Sunglasses" class="list-group-item list-group-item-action">Sunglasses</a>
    <a href="/fashion/mens/filter=Belts" class="list-group-item list-group-item-action">Belts</a>
    <a href="/fashion/mens/filter=Jewellery" class="list-group-item list-group-item-action">Jewellery</a>
    <a href="/fashion/mens/filter=low_to_high" class="list-group-item list-group-item-action">Price:Low to High</a>
    <a href="/fashion/mens/filter=high_to_low" class="list-group-item list-group-item-action">Price:High to Low</a>
    <a href="/fashion/mens/filter=below_100" class="list-group-item list-group-item-action">Below 100</a>
    <a href="/fashion/mens/filter=below_200" class="list-group-item list-group-item-action">Below 200</a>
    <a href="/fashion/mens/filter=below_500" class="list-group-item list-group-item-action">Below 500</a>
    <a href="/fashion/mens/filter=below_1000" class="list-group-item list-group-item-action">Below 1000</a>
    <a href="/fashion/mens/filter=below_2000" class="list-group-item list-group-item-action">Below 2000</a>
    <a href="/fashion/mens/filter=above_2000" class="list-group-item list-group-item-action">Above 2000</a>
    <a href="/fashion/mens/filter=customer_rating" class="list-group-item list-group-item-action">Customer Rating</a>
    <a href="/fashion/mens/filter=customer_review" class="list-group-item list-group-item-action">Customer Reviews</a>
   </div>
  </div>
    <div class="col-md-10">
        <div class="row" >
        {% for m in mens %}
        <div class='col-md-4 text-center mb-4'>
            <a href="/product-detail/{{m.title}}" class='btn'>
                <div class="item">
                    <div style="height: 180px; width: 180px; position: relative;
                    margin: 0 auto;">
                        <img src="{{m.product_image.url}}" alt="" class="p-img">
                    </div>
                    <div class="product-desc">
                        <span class="product-title">{{m.title}}</span>
                        <span class="badge bg-success">{{m.rating}}<i class="ri-star-fill"></i></span>
                        <span class="product-review">{{m.review}}</span>
                    </div>
                    <div class="fw-bold">₹{{m.discounted_price}} <small class='fw-light text-decoration-line-through'>₹{{m.selling_price}}</small></div>
                </div>
            </a>
        </div>
            {% endfor %}
        </div>
    </div>
 </div>
</div>
{% endblock main-content %}