<style>
  @page {
    size: A4;
    margin: 1cm;

    @frame footer {
      -pdf-frame-content: footerContent;
      bottom: 0cm;
      margin-left: 9cm;
      margin-right: 9cm;
      height: 1cm;
    }
  }
  @import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');
  body{
    font-family: 'Bacasime Antique', serif;
    font-weight: 500;
  }
  .invoice-box {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 2px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Bacasime Antique', serif;
    font-weight: 400;
    color: black;
  }

  .invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
  }

  .invoice-box table td {
    padding: 5px;
    vertical-align: top;
  }

  .invoice-box table tr td:nth-child(2) {
    text-align: right;
  }

  .invoice-box table tr.top table td {
    padding-bottom: 10px;
  }

  .invoice-box table tr.top table td.title a {
    font-size: 26px;
    line-height: 45px;
    color: #000;
    text-decoration: none;
  }

  .invoice-box table tr.information table td {
    padding-bottom: 5px;
  }

  .invoice-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
  }

  .invoice-box table tr.details td {
    padding-bottom: 20px;
  }

  .invoice-box table tr.item td {
    border-bottom: 1px solid #eee;
  }

  .invoice-box table tr.item.last td {
    border-bottom: none;
  }

  .invoice-box table tr.total td:nth-child(2) {
    border-top: 2px solid #eee;
    font-weight: bold;
  }

  @media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td {
      width: 100%;
      display: block;
      text-align: center;
    }

    .invoice-box table tr.information table td {
      width: 100%;
      display: block;
      text-align: center;
    }
  }

  /** RTL **/
  .rtl {
    direction: rtl;
    font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  }

  .rtl table {
    text-align: right;
  }

  .rtl table tr td:nth-child(2) {
    text-align: left;
  }
</style>

<div class="container" >
 <div class="row my-3">

<br>
  <div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
      <tr class="top">
        <td colspan="2">
          <table class="table table-bordered table-striped">
            <tr>
              <td class="title">
                <div><a href="apnamarket.site">ApnaMarket - Invoice</a></div>
              </td>

              <td>

                <h3>Order Date: {{orderDate}}</h3>
                

              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr class="information">
        <td colspan="2">
          <table>
            <tr>
              <td>
                Customer : {{customerName}}<br><br>
                Customer Email: {{customerEmail}}

              </td>

              <td>
                Contact Number : {{customerMobile}}<br><br>
                  Shipment Address :<br> {{shipmentAddress}}

              </td>
            </tr>
          </table>
        </td>
      </tr>


      <tr class="information">
        <td colspan="2">
          <table>
            <tr>
              <td>
                Product: {{productName}}<br><br>
                Product  Rating: {{productRat}}
                <br>
                Product  Review: {{productRev}}
                
              </td>
              <td>
                Product Price : Rs.{{productPrice}}<br><br>
                Description:  
                {% if productDescription|length > 200 %}
                {{productDescription|slice:"0:200"}}...
                {% else %}
                {{productDescription}}
                {% endif %}
              </td>

            </tr>
          </table>
        </td>
      </tr>



      <tr class="information">
        <td colspan="2">
          <table>
            <tr>
              <td>
                Order Status : 
                  {{orderStatus}}
              </td>
            </tr>
          </table>
        </td>
      </tr>


      


    </table>
  </div>

  
</div>
</div>