{% extends 'base.html' %}
{% load static %}
{% block title %}My Orders{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome {{request.user}}</h3>
  <div class="col-md-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="/orders" class="btn btn-primary">My Orders</a></li>
   </ul>
  </div>
  {% if op|length == 0  %}
<div class="col-lg-6 text-center">
<h1 class="text-center">No Order Placed</h1>
</div>
{% endif %}
  <div class="col-md-9">
    {% for p in op %}
    <div class="row shadow-md mb-3">
        <a href="/product-detail/{{p.product.title}}" class="col-md-4 text-center align-self-center">
          <div style="height: 180px; width: aut; position: relative;
                        margin: 0 auto;"><img src="{{p.product.product_image.url}}" alt="" class="img-fluid p-img"></div>
        </a>
     <div class="col-md-7">
      <div class="">
        <div>
          <a class="heading" href="/product-detail/{{p.product.title}}"><h5 class="mt-2">{{p.product.title}}</h5></a>                              
          <div class="my-2 fs-6">
              <label class="text-primary">Product Price: </label>
              <span class="my-2 mx-2">₹{{p.product.discounted_price}}</span>
              <label class="text-primary ms-2">Product Quantity: </label>
              <span class="my-2 mx-2">{{p.quantity}}</span>
              <br>
              <label class="text-primary">Order ID: </label>
              <span class="my-2 mx-2">{{p.order_id}}</span>
              <br>
              <label class="text-primary">Order Date & Time: </label>
              <span class="my-2 mx-2">{{p.ordered_date}}</span>
              <br>
              <label class="text-primary">Customer Name: </label>
              <span class="my-2 mx-2">{{p.customer.name}}</span>
              <br>
              <div><a style="text-decoration:none;" href="javascript:void(0);" onclick="confirmDownload({{ p.id }})"><button class="btn btn-warning btn-sm mt-2">Download Invoice</button></a></div>
          </div>
      </div>
        {% if p.status == 'Accepted' %}
        <div class="progress my-2" role="progressbar" aria-label="Animated striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width: 25%">{{p.status}}</div>
        </div>
        {% elif p.status == 'Packed' %}
        <div class="progress my-2" role="progressbar" aria-label="Animated striped example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width: 50%">{{p.status}}</div>
        </div>
        {% elif p.status == 'On The Way' %}
        <div class="progress my-2" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 75%">{{p.status}}</div>
        </div>
        {% elif p.status == 'Pending' %}
        <div class="progress my-2" role="progressbar" aria-label="Animated striped example " aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" style="width: 100%">{{p.status}}</div>
        </div>
        {% elif p.status == 'Cancel' %}
        <div class="progress my-2" role="progressbar" aria-label="Animated striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" style="width: 100%">{{p.status}}</div>
        </div>
        {% else %}
        <div class="progress my-2" role="progressbar" aria-label="Animated striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%">{{p.status}}</div>
        </div>
        {% endif %}
        <hr>
      </div>
     </div>
    </div>
    {% endfor %}
  </div>
 </div>
</div>
<script>
  function confirmDownload(Id) {
      Swal.fire({
          title: "Download Invoice",
          text: "Are you sure you want to download the invoice?",
          icon: "question",
          showCancelButton: true,
          confirmButtonColor: "#28a745",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, download it!"
      }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = "download-invoice/" + Id;
            const SwalWithStyle  = Swal.mixin({
              customClass: {
                  confirmButton: "px-4 btn btn-primary",
              },
              buttonsStyling: false
            });
            SwalWithStyle.fire({
            title:"Download Success!",
            text:"", 
            icon:"success",
            });
          }
      });
  }
</script>
{% endblock main-content %}