{% extends 'base.html' %}
{% load static %}
{% block title %}Terms & Condition {% endblock title %}
{% block main-content %}

<div class="container" >
 <div class="row my-3">
  <div class="col-md-6 offset-md-3">
   <h3>Terms & Condition</h3>
   <hr>
   <p>ApnaMarket Foundation is a Section 8 company registered under the Companies Act 2013.</p>
   <p>The amount received as donation will be donated to NGOs and similar charitable organizations working in the selected thematic areas. You can visit www.ApnaMarketfoundation.org to know more about this.</p>
   <p>The contribution, once made, will not be refunded.</p>
   <p>No certificate under section 80G of the Income Tax Act, 1961 will be issued.</p>
   <p>By proceeding to donate, you understand and confirm that this donation is not from any foreign source as defined under Foreign Contribution (Regulation) Act, 2010.</p>
   <p>ApnaMarket Foundation disclaims any and all liability and assumes no responsibility whatsoever for consequences resulting from any actions or inactions of the NGOs or charitable organizations.</p>
   <p>By proceeding to donate the money, you consent and expressly waive any and all claims, rights of action and/or remedies (under law or otherwise) that you may have against any of the ApnaMarket Group entities arising out of or in connection with the aforesaid transaction.</p>
   <p>The donation is being collected on behalf of the ApnaMarket Foundation and is disbursed to ApnaMarket Foundation. ApnaMarket Internet Pvt Ltd disclaims all liabilities and assumes no responsibility for consequences resulting from actions/ inactions of the ApnaMarket Foundation.</p>
   <p>ApnaMarket Internet Pvt. Ltd may share your Personal Identifiable Information which may include your name, phone number, etc with ApnaMarket Foundation.</p>
  </div>
 </div>
</div>
{% endblock main-content %}