{% extends 'base.html' %}
{% load static %}
{% block title %}Toys{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-md-2 fixed">
   <div class="list-group">
    <a href="/toys" class="list-group-item list-group-item-action">All Toys</a>
    <a href="/toys/filter=Soft_Toys" class="list-group-item list-group-item-action">Soft Toys</a>
    <a href="/toys/filter=Remote_Control_Toys" class="list-group-item list-group-item-action">Remote Control Toys</a>
    <a href="/toys/filter=Puzzles" class="list-group-item list-group-item-action">Puzzles</a>
    <a href="/toys/filter=Board_Games" class="list-group-item list-group-item-action">Board Games</a>
    <a href="/toys/filter=Learning_Toys" class="list-group-item list-group-item-action">Learning Toys</a>
    <a href="/toys/filter=Baby_Toys" class="list-group-item list-group-item-action">Baby Toys</a>
    <a href="/toys/filter=low_to_high" class="list-group-item list-group-item-action">Price:Low to High</a>
    <a href="/toys/filter=high_to_low" class="list-group-item list-group-item-action">Price:High to Low</a>
    <a href="/toys/filter=below_100" class="list-group-item list-group-item-action">Below 100</a>
    <a href="/toys/filter=below_200" class="list-group-item list-group-item-action">Below 200</a>
    <a href="/toys/filter=below_500" class="list-group-item list-group-item-action">Below 500</a>
    <a href="/toys/filter=below_1000" class="list-group-item list-group-item-action">Below 1000</a>
    <a href="/toys/filter=below_2000" class="list-group-item list-group-item-action">Below 2000</a>
    <a href="/toys/filter=above_2000" class="list-group-item list-group-item-action">Above 2000</a>
    <a href="/toys/filter=customer_rating" class="list-group-item list-group-item-action">Customer Rating</a>
    <a href="/toys/filter=customer_review" class="list-group-item list-group-item-action">Customer Reviews</a>
   </div>
  </div>
    <div class="col-md-10">
        <div class="row" >
        {% for m in toy %}
        <div class='col-md-4 text-center mb-4'>
            <a href="/product-detail/{{m.title}}" class='btn'>
                <div class="item">
                    <div style="height: 180px; width: 180px; position: relative;
                    margin: 0 auto;">
                        <img src="{{m.product_image.url}}" alt="" class="p-img">
                    </div>
                    <div class="product-desc">
                        <span class="product-title">{{m.title}}</span>
                        <span class="badge bg-success">{{m.rating}}<i class="ri-star-fill"></i></span>
                        <span class="product-review">{{m.review}}</span>
                    </div>
                    <div class="fw-bold">₹{{m.discounted_price}} <small class='fw-light text-decoration-line-through'>₹{{m.selling_price}}</small></div>
                </div>
            </a>
        </div>
            {% endfor %}
        </div>
    </div>
 </div>
</div>
{% endblock main-content %}