{% extends 'base.html' %}
{% load static %}
{% block title %}Toys{% endblock title %}
{% block main-content %}
<div class="container my-3">
 <div class="row">
  <div class="col-md-2 fixed">
    <div class="dropdown d-flex flex-column justify-content-center m-3">
        <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Categories
        </button>
        <ul class="dropdown-menu dropdown-menu-light">
            <a href="/toys/filter=Soft_Toys" class="dropdown-item">Soft Toys</a>
    <a href="/toys/filter=Remote_Control_Toys" class="dropdown-item">Remote Control Toys</a>
    <a href="/toys/filter=Puzzles" class="dropdown-item">Puzzles</a>
    <a href="/toys/filter=Board_Games" class="dropdown-item">Board Games</a>
    <a href="/toys/filter=Learning_Toys" class="dropdown-item">Learning Toys</a>
    <a href="/toys/filter=Baby_Toys" class="dropdown-item">Baby Toys</a>
        </ul>
      </div>
      <div class="dropdown d-flex flex-column justify-content-center m-3">
        <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Price
        </button>
        <ul class="dropdown-menu dropdown-menu-light">
            <a href="/toys/filter=low_to_high" class="dropdown-item">Price:Low to High</a>
    <a href="/toys/filter=high_to_low" class="dropdown-item">Price:High to Low</a>
    <a href="/toys/filter=below_100" class="dropdown-item">Below 100</a>
    <a href="/toys/filter=below_200" class="dropdown-item">Below 200</a>
    <a href="/toys/filter=below_500" class="dropdown-item">Below 500</a>
    <a href="/toys/filter=below_1000" class="dropdown-item">Below 1000</a>
    <a href="/toys/filter=below_2000" class="dropdown-item">Below 2000</a>
    <a href="/toys/filter=above_2000" class="dropdown-item">Above 2000</a>
        </ul>
      </div>
      <div class="dropdown d-flex flex-column justify-content-center m-3">
          <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Feedback
          </button>
          <ul class="dropdown-menu dropdown-menu-center-light">
            <a href="/toys/filter=customer_rating" class="dropdown-item">Customer Rating</a>
    <a href="/toys/filter=customer_review" class="dropdown-item">Customer Reviews</a>
          </ul>
      </div>
   
  </div>
    <div class="col-md-10">
        <div class="row" >
        {% for m in toy %}
        <div class='col-md-4 text-center mb-4'>
            <a href="/product-detail/{{m.id}}" class='btn'>
                <div class="item">
                    <div style="height: 180px; width: 180px; position: relative;
                    margin: 0 auto;">
                        <img src="{{m.product_image.url}}" alt="" class="p-img">
                    </div>
                    <div class="product-desc">
                        <span class="product-title">{{m.title}}</span>
                        <span class="badge bg-success">{{m.rating}}<i class="ri-star-fill"></i></span>
                        <span class="product-review">{{m.review}}</span>
                    </div>
                    <div class="fw-bold">₹{{m.discounted_price}} <small class='fw-light text-decoration-line-through'>₹{{m.selling_price}}</small></div>
                </div>
            </a>
        </div>
            {% endfor %}
        </div>
    </div>
 </div>
</div>
{% endblock main-content %}